<section class="about-sec why-digistic wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
    <div class="container">
        <ul class="about-why why-list wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <li>
                <div class="why-card">
                    <img src="../../../assets/images/unique-assests.png" alt="Assests" />
                    <h3>12.1k+</h3>
                    <h6>Unique Assests</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
                        praesentium!
                    </p>
                </div>
            </li>
            <li>
                <div class="why-card">
                    <img src="../../../assets/images/growth-rate.png" alt="growth-rate" />
                    <h3>500<sup>%</sup></h3>
                    <h6>Growth Rate</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
                        praesentium!
                    </p>
                </div>
            </li>
            <li>
                <div class="why-card">
                    <img src="../../../assets/images/capitals.png" alt="capitals" />
                    <h3><sup>$</sup>4b</h3>
                    <h6>Market Capital</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
                        praesentium!
                    </p>
                </div>
            </li>
            <li>
                <div class="why-card">
                    <img src="../../../assets/images/creators.png" alt="creators" />
                    <h3>150k+</h3>
                    <h6>Creators</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
                        praesentium!
                    </p>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="feature-img wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <img src="../../../assets/images/feature-2.png" class="infiniteBounce y-img" alt="">
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="about-features wow animate__fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0.4s">
                    <ul class="feature-content">
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span> Unlimited Freedom & Security</span>
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span>High Success Rate</span>
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span>Easily Integration of Wallet</span>
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span>Save Time Resources and much more</span>
                        </li>
                    </ul>

                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinNow">Join
                        Now</button>
                </div>
            </div>


        </div>
        </div>
</section>

<div class="modal modal-sm fade" id="joinNow" tabindex="-1" aria-labelledby="joinNowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Join Now</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="input-container">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" />
                    </div>
                    <div class="input-container">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" />
                    </div>
                    <div class="input-container">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="input-container">
                        <label>Password</label>
                        <input type="text" class="form-control" placeholder="Enter Password" />
                    </div>
                    <button class="btn btn-primary">Join Now</button>
                    <div class="another-way">
                        <span>Another way to Join Now</span>
                        <div>
                            <a class="twitter"><i class="fa fa-twitter" aria-hidden="true" style="color:#000"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true" style="color:#000" ></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true" style="color:#000"></i></a>
                        </div>
                    </div>
                    <p>Already have an Account? <a href="" data-bs-toggle="modal"
                            data-bs-target="#existingUser">Sign In.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-sm fade" id="existingUser" tabindex="-1" aria-labelledby="existingUserLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Existing User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="input-container">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Enter Name" />
                    </div>
                    <div class="input-container">
                        <label>Password <a href="#">Forgot Password</a></label>
                        <input type="text" class="form-control" placeholder="Enter Password" />
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-primary">Sign In Now</button>
                    <div class="another-way">
                        <span>Another way to Sign in</span>
                        <div>
                            <a class="twitter"><i class="fa fa-twitter" aria-hidden="true" style="color:#000"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true" style="color:#000" ></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true" style="color:#000"></i></a>
                        </div>
                    </div>
                    <p>Don't have an Account? <a href="" data-bs-toggle="modal" data-bs-target="#joinNow">Register
                            Now.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
