<section class="privacy-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12">
                <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0.4s">Digistic Basic Policy</h2>
                <p class="wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor
                    lectus iaculis Nibh purus integer elementum in. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown.</p>
            </div>


            <div class="col-sm-12">
                <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0.4s">Personal Information for Artist</h2>
                <ol class="wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor
                        lectus iaculis Nibh purus integer elementum in. Lorem Ipsum is simply dummy text of
                        the printing and typesetting industry.</li>
                    <li> Nibh purus integer elementum in. Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. </li>
                    <li> To help you understand what an NFT is and why they're becoming so popular, here's
                        an explainer to make sense of it all of people in lorem ipsum dolor sit amet . </li>
                </ol>
            </div>

            <div class="col-sm-12">
                <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0.4s">Cookies</h2>
                <p class="wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor
                    lectus iaculis Nibh purus integer elementum in. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown.</p>

                <p class="wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor
                    lectus iaculis Nibh purus integer elementum in. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Non, lobortis in in tortor lectus iaculis Nibh purus integer elementum
                    in. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                </p>
            </div>

            <div class="col-sm-12">
                <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0.4s">Rules and Regulations for Artist or Authors</h2>
                <ol class="wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor
                        lectus iaculis Nibh purus integer elementum in. Lorem Ipsum is simply dummy text of
                        the printing and typesetting industry.</li>
                    <li> Nibh purus integer elementum in. Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. </li>
                    <li> To help you understand what an NFT is and why they're becoming so popular, here's
                        an explainer to make sense of it all of people in lorem ipsum dolor sit amet . </li>
                    <li> To help you understand what an NFT is and why they're becoming so popular, here's
                        an explainer to make sense of it all of people in lorem ipsum dolor sit amet . </li>
                </ol>
            </div>


            <div class="row wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">

                <div class="col-md-2 col-sm-12"> <button class="btn btn-primary ">Accept</button> </div>
                <div class="col-md-2 col-sm-12"> <button class="btn btn-primary-outline ">Reject</button>
                </div>


            </div>





        </div>
    </div>
</section>
