<section class="about-team-section">
    <div class="container">
        <div class="team-cont">
            <h2 class="section-title">Meet the Team</h2>
            <p class="section-subtitle">
                Etiam id dui luctus, rhoncus mi eget, ultrices orci.<br />
                Fusce ut aliquet purus. In laoreet ni
            </p>
            <ul class="about-team team-member-list wow animate__fadeInUp" data-wow-duration="1s"
                data-wow-delay="0.4s" id="teamOne">
                <li>
                    <div class="about-team-member">
                        <div class="team-member-img">
                            <img src="../../../assets/images/about-team-1.png" alt="team-member" />
                        </div>
                        <div class="team-member-footer">
                            <h5>Robert Long</h5>
                            <span>Founder</span>
                            
                            <div class="team-member-social">
                                <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="about-team-member">
                        <div class="team-member-img">
                            <img src="../../../assets/images/about-team-2.png" alt="team-member" />
                        </div>
                        <div class="team-member-footer">
                            <h5>Sophia Jones</h5>
                            <span>Co-Founder & CEO</span>
                            <div class="team-member-social">
                                <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="about-team-member">
                        <div class="team-member-img">
                            <img src="../../../assets/images/about-team-3.png" alt="team-member" />
                        </div>
                        <div class="team-member-footer">
                            <h5>Christopher Mitchell</h5>
                            <span>Technical Head</span>
                            <div class="team-member-social">
                                <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="about-team team-member-list wow animate__fadeInUp" data-wow-duration="1s"
                data-wow-delay="0.4s" id="teamTwo">
                <li>
                    <div class="about-team-member">
                        <div class="team-member-img">
                            <img src="../../../assets/images/about-team-4.png" alt="team-member" />
                        </div>
                        <div class="team-member-footer">
                            <h5>Grayson Bastin</h5>
                            <span>Creative Head</span>
                            <div class="team-member-social">
                                <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="about-team-member">
                        <div class="team-member-img">
                            <img src="../../../assets/images/about-team-5.png" alt="team-member" />
                        </div>
                        <div class="team-member-footer">
                            <h5>Jennifer Jones</h5>
                            <span>Developer</span>
                            <div class="team-member-social">
                                <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="about-team-member">
                        <div class="team-member-img">
                            <img src="../../../assets/images/about-team-6.png" alt="creators" />
                        </div>
                        <div class="team-member-footer">
                            <h5>Nova Abbott</h5>
                            <span>Graphic Designer</span>
                            <div class="team-member-social">
                                <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
