<footer>
    <div class="container">
        <div class="footer-cont">
            <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">FOLLOW
                US <br /> ON SOCIAL MEDIA</h2>
            <p>Cras vehicula sed enim semper finibus. Vestibulum rhoncus.</p>
            <div class="row g-5 g-md-4 justify-content-between">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="#!" class="social-icon twitter wow animate__fadeInUp" data-wow-duration="0.6s"
                        data-wow-delay="0.3s"><img src="../../../assets/images/twitter-logo.png" alt=""></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="#!" class="social-icon facebook wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <img src="../../../assets/images/facebook-logo.png" alt="" /></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="#!" class="social-icon insta wow animate__fadeInUp" data-wow-duration="1.5s"
                        data-wow-delay="0.5s"><img src="../../../assets/images/insta.png" alt="" /></a>
                </div>
            </div>
        </div>
        <div class="copyright-para wow animate__fadeInUp" data-wow-duration="1.6s">
            &copy; Copyright 2023 Digistic | Design by Webduck. All rights
            reserved.
        </div>
    </div>
</footer>
