<section class="join-community">
    <div class="container-fluid">
        <div class="join-us-wrapper animate__fadeIn" data-wow-delay="0.4s">
            <span></span>
            <span></span>
            <img class="wavy-partical animate__flipInX" data-wow-delay="0.8s" src="../../../assets/images/banner-wave.png"
                alt="particle">
            <img class="particle-black infiniteZoomInOut" src="../../../assets/images/particle-black.png" alt="particle">
            <img class="particle-white infiniteZoomInOut" src="../../../assets/images/particle-white.png"
                alt="particle" />
            <img class="particle-orange infiniteZoomInOut" src="../../../assets/images/particle-orange.png"
                alt="particle" />

            <img class="image-1 infiniteBounce" src="../../../assets/images/commuter-1.jpg" alt="commuters">
            <img class="image-2 infiniteBounce" src="../../../assets/images/commuter-2.jpg" alt="commuters">
            <img class="image-3 infiniteBounce" src="../../../assets/images/commuter-3.jpg" alt="commuters">
            <img class="image-4 infiniteBounce" src="../../../assets/images/commuter-4.jpg" alt="commuters">
            <img class="image-5 infiniteBounce" src="../../../assets/images/commuter-5.jpg" alt="commuters">
            <div class="join-us-content">
                <h5 class="section-subtitle wow animate__fadeInUp" data-wow-delay="0.4s">
                    LET'S
                </h5>
                <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0.4s">
                    JOIN OUR<br />COMMUNITY</h2>
                <p>Cras vehicula sed enim semper finibus. Vestibulum rhoncus neque <br /> eget tellus
                    tincidunt
                    viverra. Vivamus nec aliquet turpis.</p>
                <button class="btn btn-outline-primary wow animate__fadeIn joinBtn" data-wow-duration="1s"
                    data-wow-delay="1.3s" data-bs-toggle="modal" data-bs-target="#joinNow">
                    JOIN NOW
                </button>
            </div>
        </div>
    </div>
</section>

<div class="modal modal-sm fade" id="existingUser" tabindex="-1" aria-labelledby="existingUserLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Existing User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <div class="input-container">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Enter Name" />
                            </div>
                            <div class="input-container">
                                <label>Password <a href="#">Forgot Password</a></label>
                                <input type="text" class="form-control" placeholder="Enter Password" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                            <button class="btn btn-primary">Sign In Now</button>
                            <div class="another-way">
                                <span>Another way to Sign in</span>
                                <div>
                                    <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <p>Don't have an Account? <a href="" data-bs-toggle="modal"
                                    data-bs-target="#joinNow">Register
                                    Now.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal modal-sm fade" id="joinNow" tabindex="-1" aria-labelledby="joinNowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Join Now</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <div class="input-container">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter Name" />
                            </div>
                            <div class="input-container">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Enter Username" />
                            </div>
                            <div class="input-container">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="input-container">
                                <label>Password</label>
                                <input type="text" class="form-control" placeholder="Enter Password" />
                            </div>
                            <button class="btn btn-primary">Join Now</button>
                            <div class="another-way">
                                <span>Another way to Join Now</span>
                                <div>
                                    <a class="twitter"><i class="fa fa-twitter" aria-hidden="true" style="color:#000"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true" style="color:#000" ></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true" style="color:#000"></i></a>
                                </div>
                            </div>
                            <p>Already have an Account? <a href="" data-bs-toggle="modal"
                                    data-bs-target="#existingUser">Sign In.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="modal modal-sm fade" id="existingUser" tabindex="-1" aria-labelledby="existingUserLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Existing User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <div class="input-container">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Enter Name" />
                            </div>
                            <div class="input-container">
                                <label>Password <a href="#">Forgot Password</a></label>
                                <input type="text" class="form-control" placeholder="Enter Password" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                            <button class="btn btn-primary">Sign In Now</button>
                            <div class="another-way">
                                <span>Another way to Sign in</span>
                                <div>
                                    <a class="twitter"><i class="fa fa-twitter" aria-hidden="true" style="color:#000"></i></a>
                                <a class="facebook"><i class="fa fa-facebook" aria-hidden="true" style="color:#000" ></i></a>
                                <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true" style="color:#000"></i></a>
                                </div>
                            </div>
                            <p>Don't have an Account? <a href="" data-bs-toggle="modal" data-bs-target="#joinNow">Register
                                    Now.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
