<section class="contact-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 col-sm-12">
                <h2 class=" wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Say Hello!
                </h2>
                <p>Donec efficitur vel risus vel pharetra. Mauris consequat vitae augue vitae porttitor. Nam
                    viverra imperdiet libero at faucibus. </p>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-6 col-sm-12">
                <form class="form-container">
                    <div class="input-container wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" />
                    </div>
                    <div class="input-container wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="input-container wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <label>Message</label>
                        <textarea type="text" class="form-control" rows="7"
                            placeholder="Enter Message"></textarea>
                    </div>
                    <button class="btn btn-outline-primary wow animate__fadeIn" data-wow-duration="1s"
                        data-wow-delay="1.3s">
                        SUBMIT
                    </button>
                </form>
            </div>
            <div class="col-lg-5 col-sm-12">
                <div class="contact-info-list">
                    <div class="contact-info-item wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <img src="../../../assets/images/callus-icon.png" alt="" />
                        <span>Call us Now</span>
                        <a href="tel:+12003445566">+1 200 344 55 66</a>
                    </div>
                    <div class="contact-info-item wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <img src="../../../assets/images/email-icon.png" alt="" />
                        <span>Email</span>
                        <a href="mailto:contact@digisticmysite.com">contact@digisticmysite.com</a>
                    </div>
                    <div class="contact-info-item wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <img src="../../../assets/images/location-icon.png" alt="" />
                        <span>Address</span>
                        <p>123 Street, Landmark Tower, <br />
                            Suite-43, NewYork, USA.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div> -->
