<section class="about" id="about">
    <!-- <button class="add()">ok</button>
    <div></div> -->
    <div class="container">
        <div class="about-wrapper">
            <h5 class="section-subtitle wow animate__fadeInUp" data-wow-delay="0.4s">
                ABOUT
            </h5>
            <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                CHECK OUT<br /> AWESOME <br />STATISTICS.

            </h2>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="graphic-imgs">
                        <img class="spiral-arrow wow animate__fadeInUp" data-wow-delay="0.4s"
                            src="../../../assets/images/spiral-arrow.png" alt="floating-img">
                        <img class="particle-black infiniteBounce" src="../../../assets/images/particle-black.png"
                            alt="floating-img">
                        <img class="particle-white infiniteBounce" src="../../../assets/images/particle-white.png"
                            alt="floating-img" />
                        <img class="particle-orange" infiniteBounce src="../../../assets/images/particle-orange.png"
                            alt="floating-img" />
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <p class="wow animate__fadeInRight line_height" data-wow-duration="1s" data-wow-delay="0.2s">Cras
                        vehicula sed enim semper finibus. Vestibulum rhoncus neque eget tellus tincidunt
                        viverra. Vivamus nec aliquet turpis. In accumsan velit quis odio vestibulum, sit
                        amet mattis nisl accumsan.
                    </p>
                    <p class="wow animate__fadeInRight line_height" data-wow-duration="1s" data-wow-delay="0.3s">
                        Suspendisse vitae rhoncus ipsum. Nulla at maximus erat. Fusce egestas purus erat.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="features owl-carousel owl-theme ">
        <div class="feature feature-1">
            <div class="feature-content wow animate__fadeInLeft" data-wow-duration="1s"
                data-wow-delay="0.3s">
                <h6>Unique<br /> Assets</h6>
                <h4>12k<sup>+</sup></h4>
                <p>Suspendisse vitae rhoncus ipsum. Nulla at maximus eratusce.</p>
            </div>
            <div class="feature-img wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <img src="../../../assets/images/feature-1.png" class="infiniteBounce" alt="">
            </div>
        </div>
        <div class="feature feature-2">
            <div class="feature-content wow animate__fadeInLeft" data-wow-duration="1s"
                data-wow-delay="0.3s">
                <h6>Growth <br />Rate</h6>
                <h4>100%</h4>
                <p>Suspendisse vitae rhoncus ipsum. Nulla at maximus eratusce.</p>
            </div>
            <div class="feature-img wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <img src="../../../assets/images/feature-2.png" class="infiniteBounce" alt="">
            </div>
        </div>
        <div class="feature feature-3">
            <div class="feature-content wow animate__fadeInLeft" data-wow-duration="1s"
                data-wow-delay="0.3s">
                <h6>Market <br />Capital</h6>
                <h4><sup>$</sup>9B</h4>
                <p>Suspendisse vitae rhoncus ipsum. Nulla at maximus eratusce.</p>
            </div>
            <div class="feature-img wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <img src="../../../assets/images/feature-3.png" class="infiniteBounce" alt="">
            </div>
        </div>

    </div>

</section>