<section class="blog-section">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-8 col-sm-12">
                <div class="blogs wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="blog-img">
                        <img src="../../../assets/images/blog-1.png" alt="" />
                    </div>
                    <div class="blog-details">
                        <div class="blog-info">
                            <img src="../../../assets/images/calender-icon.png" alt="" />
                            <span>October 10, 2022</span>
                        </div>
                        <div class="blog-info">
                            <img src="../../../assets/images/user-icon.png" alt="" />
                            <a href="#">by Robert</a>
                        </div>
                        <div class="blog-info">
                            <img src="../../../assets/images/message-icon.png" alt="" />
                            <span>12</span>
                        </div>
                    </div>
                    <div class="blog-heading">

                        <a class="section-title" href="blog-details.html">Top New Awesome NFT <br>
                            Collections for you.
                        </a>
                    </div>
                    <div class="section-subtitle blog-content">
                        Donec efficitur vel risus vel pharetra. Mauris consequat vitae augue vitae
                        porttitor.
                        Nam
                        viverra imperdiet libero at faucibus.<br><br>

                        Nam nisi neque, ultricies ut erat in, dictum hendrerit augue. Suspendisse potenti.
                        Proin
                        purus massa, vestibulum non turpis dignissi.<br>
                        <button class="btn btn-primary more">
                            <a href="blog-details.html">More</a>
                        </button>

                    </div>
                    <hr>
                </div>
                <div class="blogs wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="blog-img">
                        <img src="../../../assets/images/blog-2.png" alt="" />
                    </div>
                    <div class="blog-details">
                        <div class="blog-info">
                            <img src="../../../assets/images/calender-icon.png" alt="" />
                            <span>October 10, 2022</span>
                        </div>
                        <div class="blog-info">
                            <img src="../../../assets/images/user-icon.png" alt="" />
                            <a href="#">by Robert</a>
                        </div>
                        <div class="blog-info">
                            <img src="../../../assets/images/message-icon.png" alt="" />
                            <span>12</span>
                        </div>
                    </div>
                    <div class="blog-heading">
                        <a class="section-title" href="blog-details.html">The Great Collections <br>
                            of Future NFTs
                        </a>
                    </div>
                    <div class="section-subtitle blog-content">
                        Donec efficitur vel risus vel pharetra. Mauris consequat vitae augue vitae
                        porttitor.
                        Nam
                        viverra imperdiet libero at faucibus.<br><br>

                        Nam nisi neque, ultricies ut erat in, dictum hendrerit augue. Suspendisse potenti.
                        Proin
                        purus massa, vestibulum non turpis dignissi.<br>
                        <button class="btn btn-primary more">More</button>
                    </div>
                </div>
                <div class="blog-pages">
                    <div class="blog-pagination wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <button class="btn page-link" href="#">&lt;</button>
                        <button class="btn page-link" href="#">1</button>
                        <button class="btn page-link active" href="#">2</button>
                        <button class="btn page-link" href="#">3</button>
                        <button class="btn page-link" href="#">4</button>
                        <button class="btn page-link" href="#">5</button>
                        <button class="btn page-link" href="#">&gt;</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">

                <div class="blogs-right">
                    <div class="right-sec search-section wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <div class="input-container">
                            <input type="search" class="form-control" placeholder="Search" />
                            <div class="search-icon">
                                <img src="../../../assets/images/search-icon.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="right-sec categories-section wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <div class="blog-headings">
                            <h4>Categories</h4>
                        </div>
                        <ul class="categories">
                            <li class="categories-list">
                                <a href="#">General</a>
                            </li>
                            <li class="categories-list active">
                                <a href="#">NFT Update</a>
                            </li>
                            <li class="categories-list">
                                <a href="#">NFT Market</a>
                            </li>
                            <li class="categories-list">
                                <a href="#">Platform Update</a>
                            </li>

                        </ul>
                    </div>
                    <div class="right-sec post-section wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <div class="blog-headings">
                            <h4>Recent Post</h4>
                        </div>
                        <div class="post-list">
                            <div class="post-img">
                                <a href="#"><img src="../../../assets/images/blog-post.png" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-title">
                                    <a href="#">Top New Awesome NFTs collection for you.</a>
                                </div>
                                <div class="nftpost-date">March 28, 2022</div>
                            </div>
                        </div>

                        <div class="post-list">
                            <div class="post-img">
                                <a href="#"><img src="../../../assets/images/blog-post1.png" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-title">
                                    <a href="#">The Great Collections of Future NFTs</a>
                                </div>
                                <div class="nftpost-date">March 28, 2022</div>
                            </div>
                        </div>


                        <div class="post-list">
                            <div class="post-img">
                                <a href="#"><img src="../../../assets/images/blog-post2.png" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-title">
                                    <a href="#">Top New Awesome NFTs collection for you.</a>
                                </div>
                                <div class="nftpost-date">March 28, 2022</div>
                            </div>
                        </div>
                    </div>
                    <div class="right-sec tag-section wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <div class="blog-headings">
                            <h4>Tags</h4>
                        </div>
                        <div class="blog-tags">
                            <a href="#" class="active">3D</a>
                            <a href="#">Nft</a>
                            <a href="#">Digital</a>
                            <a href="#">Crypto</a>
                            <a href="#">Arts</a>
                            <a href="#">Bid</a>
                            <a href="#">Technology</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

