<section class="about-nft">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="about-nft-content">
                    <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">About Digistic's NFT Collection</h2>
                    <p class="section-subtitle wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        Donec efficitur vel risus vel pharetra. Mauris consequat vitae augue vitae
                        porttitor.
                        Nam viverra imperdiet libero at faucibus.<br><br>

                        Nam nisi neque, ultricies ut erat in, dictum hendrerit augue. Suspendisse potenti.
                        Proin
                        purus massa, vestibulum non turpis dignissi.
                    </p>
                    <button class="btn btn-primary more">More</button>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="about-nft-img">
                    <div class="banner-img-1">
                        <img class="banner-1 infiniteBounce" src="../../../assets/images/banner-img-1.png"
                            alt="banner-img" />
                    </div>
                    <div class="banner-img-2">
                        <img class="banner-2 infiniteBounce" src="../../../assets/images/banner-img-2.png" alt="banner-img">
                    </div>
                    <div class="banner-img-3">
                        <img class="banner-4 infiniteBounce" src="../../../assets/images/banner-img-4.png"
                            alt="banner-img" />
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
