<div class="whole_about">

    <div class="whole_about">  
          <app-header></app-header>
        </div>
<section class="about-banner page-banner">
    <h2 class="page-heading wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">About Us
    </h2>
    <div class="sub-heading wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Home / About
    </div>
</section>
<app-about-nft></app-about-nft>
<app-about-main></app-about-main>
<app-about-team></app-about-team>
<app-about-faq></app-about-faq>
<app-footer></app-footer>
</div>


