<section class="about-sec faq-section" id="faqs">
    <div class="container">
        <div class="faq-wrapper">


            <div class="row">
                <div class="col-lg-5 col-sm-12">
                    <img class="phase-art-img infiniteBounce" src="../../../assets/images/phase-3.png" alt="phase-3">
                </div>
                <div class="col-lg-7 col-sm-12">
                    <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        Do you have any Questions?</h2>
                    <p class="faq-info wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        Etiam id dui luctus, rhoncus mi eget, ultrices orci.
                        Fusce ut aliquet purus. In laoreet ni
                    </p>
                    <!-- faq-accordian  -->
                    <ul class="accordion" id="accordionExample1">
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.3s">
                            <div class="accordian-title accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Is there trail version available ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Donec laoreet quis eros quis pharetra. Pellentesque eleifend porttitor
                                lacus, et euismod nibh placerat eget. Donec non ante bibendum, semper lacus
                                et, mattis ex. Nulla faucibus, dolor quis maximus vestibulum, tortor magna
                                dapibus massa, non facilisis metus velit ac felis. Etiam a urna consectetur,
                                pellentesque magna sed, eleifend velit.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.4s">
                            <div class="accordian-title accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Nulla vitae est risus. Aenean aliquam dolor a massa
                                placerat imperdiet ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTow" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus, vulputate eu elit.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.5s">
                            <div class="accordian-title accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Pellentesque habitant morbi tristique senectus ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus, vulputate eu elit. Praesent lacinia
                                mauris ipsum, eu imperdiet ante semper nec.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.6s">
                            <div class="accordian-title accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Aenean aliquam dolor a massa place ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus, vulputate eu elit. Praesent lacinia
                                mauris ipsum, eu imperdiet ante semper nec. Praesent
                                lacinia mauris ipsum, eu imperdiet ante semper nec.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.6s">
                            <div class="accordian-title accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Bestibulum consequat leo ac sapien sollicitudin, a
                                pellentesque turpis posuere. Mauris quis nequelibero ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-7 col-sm-12">
                    <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        Do you have any Questions?</h2>
                    <p class="faq-info wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        Etiam id dui luctus, rhoncus mi eget, ultrices orci.
                        Fusce ut aliquet purus. In laoreet ni
                    </p>

                    <ul class="faq-accordianaccordion" id="accordionExample">
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.3s">
                            <div class="accordian-title accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Is there trail version available ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Donec laoreet quis eros quis pharetra. Pellentesque eleifend porttitor
                                lacus, et euismod nibh placerat eget. Donec non ante bibendum, semper lacus
                                et, mattis ex. Nulla faucibus, dolor quis maximus vestibulum, tortor magna
                                dapibus massa, non facilisis metus velit ac felis. Etiam a urna consectetur,
                                pellentesque magna sed, eleifend velit.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.4s">
                            <div class="accordian-title accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Nulla vitae est risus. Aenean aliquam dolor a massa
                                placerat imperdiet ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTow" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus, vulputate eu elit.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.5s">
                            <div class="accordian-title accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Pellentesque habitant morbi tristique senectus ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus, vulputate eu elit. Praesent lacinia
                                mauris ipsum, eu imperdiet ante semper nec.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.6s">
                            <div class="accordian-title accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Aenean aliquam dolor a massa place ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus, vulputate eu elit. Praesent lacinia
                                mauris ipsum, eu imperdiet ante semper nec. Praesent
                                lacinia mauris ipsum, eu imperdiet ante semper nec.
                            </div>
                            </div>
                        </li>
                        <li class="faq-accordian-item  wow animate__fadeInRight accordion-item" data-wow-duration="1s"
                            data-wow-delay="0.6s">
                            <div class="accordian-title accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Bestibulum consequat leo ac sapien sollicitudin, a
                                pellentesque turpis posuere. Mauris quis nequelibero ?
                            </button>
                            </div>
                            <div class="accordian-content accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Fusce in sagittis metus, id rutrum justo. Etiam porta
                                rutrum orci ac semper. Proin nisi massa, blandit a
                                consequat finibus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> -->
            </div>

        </div>
    </div>
</section>


