<section class="team" id="team">
    <div class="container">
        <div class="team-wrapper">
            <h5 class="section-subtitle wow animate__fadeInUp" data-wow-delay="0.4s">
                TEAM
            </h5>
            <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                MEET
                OUR <br /> AWESOME <br />TEAM.</h2>
            <img class="team-spiral-arrow wow animate__fadeInUp" data-wow-delay="0.4s"
                src="../../../assets/images/spiral-arrow.png" alt="graphic-imgs">
            <ul class="row g-4 team-content">
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-member card-1 wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.3s">
                        <div class="team-member-img">
                            <img src="../../../assets/images/team-member-1.png" alt="team-member">
                        </div>
                        <img src="../../../assets/images/team-particle-orange.png" alt="graphic-imgs" />
                        <div class="team-member-info">
                            <span class="member-designation">Founder</span>
                            <h6>Sophia Jones</h6>
                            <p class="member-info">Eget tellus tincidunt viverra. Vivamus nec
                                aliquet turpis. In accumsan velit quis odio vestibudunt viverra.
                                Vivamus nec aliquet turpis. In acm, sit amet mattis nisl accumsan.
                            </p>
                            <div class="member-social-icon">
                                <!-- <a href="#!" class="twitter"><fa-icon [icon]="icon"></fa-icon></a> -->
                                <a href="#!" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#!" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#!" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-member card-2 wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <div class="team-member-img">
                            <img src="../../../assets/images/team-member-2.png" alt="team-member">
                        </div>
                        <img src="../../../assets/images/team-particle-orange.png" alt="graphic-imgs" />

                        <div class="team-member-info">
                            <span class="member-designation">Co-Founder</span>
                            <h6>Cristina Bob</h6>
                            <p class="member-info">Eget tellus tincidunt viverra. Vivamus nec
                                aliquet turpis. In accumsan velit quis odio vestibudunt viverra.
                                Vivamus nec aliquet turpis. In acm, sit amet mattis nisl accumsan.
                            </p>
                            <div class="member-social-icon">
                                <a href="#!" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#!" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#!" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-member card-3 wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="team-member-img">
                            <img src="../../../assets/images/team-member-3.png" alt="team-member">
                        </div>
                        <img src="../../../assets/images/team-particle-orange.png" alt="graphic-imgs" />

                        <div class="team-member-info">
                            <span class="member-designation">Technical Head</span>
                            <h6>Christopher Mitchell</h6>
                            <p class="member-info">Eget tellus tincidunt viverra. Vivamus nec
                                aliquet turpis. In accumsan velit quis odio vestibudunt viverra.
                                Vivamus nec aliquet turpis. In acm, sit amet mattis nisl accumsan.
                            </p>
                            <div class="member-social-icon">
                                <a href="#!" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#!" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#!" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-member card-4 wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.4s">
                        <div class="team-member-img">
                            <img src="../../../assets/images/team-member-4.png" alt="team-member">
                        </div>
                        <img src="../../../assets/images/team-particle-orange.png" alt="graphic-imgs" />

                        <div class="team-member-info">
                            <span class="member-designation">Developer</span>
                            <h6>Jennifer Jones</h6>
                            <p class="member-info">Eget tellus tincidunt viverra. Vivamus nec
                                aliquet turpis. In accumsan velit quis odio vestibudunt viverra.
                                Vivamus nec aliquet turpis. In acm, sit amet mattis nisl accumsan.
                            </p>
                            <div class="member-social-icon">
                                <a href="#!" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#!" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#!" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-member card-5 wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="team-member-img">
                            <img src="../../../assets/images/team-member-5.png" alt="team-member">
                        </div>
                        <img src="../../../assets/images/team-particle-orange.png" alt="graphic-imgs" />

                        <div class="team-member-info">
                            <span class="member-designation">Creative Head</span>
                            <h6>Grayson Bastin</h6>
                            <p class="member-info">Eget tellus tincidunt viverra. Vivamus nec
                                aliquet turpis. In accumsan velit quis odio vestibudunt viverra.
                                Vivamus nec aliquet turpis. In acm, sit amet mattis nisl accumsan.
                            </p>
                            <div class="member-social-icon">
                                <a href="#!" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#!" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#!" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-member card-6 wow animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.6s">
                        <div class="team-member-img">
                            <img src="../../../assets/images/team-member-6.png" alt="team-member">
                        </div>
                        <img src="../../../assets/images/team-particle-orange.png" alt="graphic-imgs" />

                        <div class="team-member-info">
                            <span class="member-designation">Graphic Designer</span>
                            <h6>Nova Abbott</h6>
                            <p class="member-info">Eget tellus tincidunt viverra. Vivamus nec
                                aliquet turpis. In accumsan velit quis odio vestibudunt viverra.
                                Vivamus nec aliquet turpis. In acm, sit amet mattis nisl accumsan.
                            </p>
                            <div class="member-social-icon">
                                <a href="#!" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#!" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#!" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>