<section class="artist-section" id="artist">
    <div class="container">
        <div class="artist-wrapper">
            <h5 class="section-subtitle wow animate__fadeInUp" data-wow-delay="0.4s">ARTIST</h5>
            <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                HELLO<br />WORLD.</h2>
            <p class=" wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">Cras vehicula
                sed enim semper finibus. Vestibulum rhoncus neque eget tellus tincidunt
                viverra. Vivamus nec aliquet turpis.<br /> In accumsan velit.</p>
            <a href="#!" class="link">Know more <i class="fa fa-caret-right"></i></a>
            <img class="artist-img wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"
                src="../../../assets/images/artist-img.png" alt="" />
            <img class="particle-white" src="../../../assets/images/particle-white.png" alt="particle" />
            <img class="particle-orange" src="../../../assets/images/particle-orange.png" alt="particle" />
            <img class="particle-black" src="../../../assets/images/particle-black.png" alt="particle" />
        </div>
    </div>
</section>
