<section class="roadmap" id="roadmap">
    <div class="container">
        <div class="roadmap-wrapper">
            <h5 class="section-subtitle wow animate__fadeInUp" data-wow-delay="0.4s">
                ROADMAP
            </h5>
            <h2 class="section-title wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">OUR
                GOAL <br /> AND AIM TO TAKE <br />IT NEXT LEVEL.
                <img class=" spiral-arrow wow animate__fadeInUp" data-wow-delay="0.4s"
                    src="../../../assets/images/spiral-arrow.png" alt="vector-shape">
            </h2>
            <div class="vector-shapes">
                <img class="particle-black" src="../../../assets/images/particle-black.png" alt="vector-shape">
                <img class="wavy-particle" src="../../../assets/images/wavy-partical.jpg" alt="vector-shape">
            </div>
            <ul class="phase-list">
                <li class="phase">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="phase-content wow animate__fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="0.3s">
                                <h6>Build The Audience</h6>
                                <h3>Phase 1</h3>
                                <p>Eget tellus tincidunt viverra. Vivamus nec aliquet<br /> turpis. In
                                    accumsan
                                    velit
                                    quis
                                    odio vestibulum,<br /> sit amet mattis nisl accumsan.</p>
                            </div>
                        </div>
                        <div class=" col-sm-6">
                            <div class="phase-img-box  wow animate__fadeInRight" data-wow-duration="1s"
                                data-wow-delay="0.3s">
                                <img class="phase-art-img infiniteBounce" src="../../../assets/images/phase-1.png"
                                    alt="phase-1">

                                <div class="particle-wrap">
                                    <img src="../../../assets/images/particle-black.png" class="infiniteZoomInOut"
                                        alt="particle">
                                    <img src="../../../assets/images/particle-white.png" class="infiniteZoomInOut"
                                        alt="particle">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="phase phase-reverse">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="phase-content  wow animate__fadeInRight" data-wow-duration="1s"
                                data-wow-delay="0.4s">
                                <h6>Focus on Artwork</h6>
                                <h3>Phase 2</h3>
                                <p>Eget tellus tincidunt viverra. Vivamus nec aliquet<br /> turpis. In
                                    accumsan
                                    velit
                                    quis
                                    odio vestibulum,<br /> sit amet mattis nisl accumsan</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="phase-img-box  wow animate__fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="0.4s">
                                <img class="phase-art-img infiniteBounce" src="../../../assets/images/phase-2.png"
                                    alt="phase-2">

                                <div class="particle-wrap">
                                    <img src="../../../assets/images/particle-orange.png" class="infiniteZoomInOut"
                                        alt="particle">
                                    <img src="../../../assets/images/particle-white.png" class="infiniteZoomInOut"
                                        alt="particle">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="phase">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="phase-content  wow animate__fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="0.5s">
                                <h6>3D Metaverse</h6>
                                <h3>Phase 3</h3>
                                <p>Eget tellus tincidunt viverra. Vivamus nec aliquet<br /> turpis. In
                                    accumsan
                                    velit
                                    quis
                                    odio vestibulum,<br /> sit amet mattis nisl accumsan</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="phase-img-box  wow animate__fadeInRight" data-wow-duration="1s"
                                data-wow-delay="0.5s">
                                <img class="phase-art-img infiniteBounce" src="../../../assets/images/phase-3.png"
                                    alt="phase-3">

                                <div class="particle-wrap">
                                    <img class="img-small" src="../../../assets/images/particle-white.png"
                                        class="infiniteZoomInOut" alt="particle">
                                    <img src="../../../assets/images/particle-white.png" class="infiniteZoomInOut"
                                        alt="particle">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="phase phase-reverse">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="phase-content  wow animate__fadeInRight" data-wow-duration="1s"
                                data-wow-delay="0.6s">
                                <h6>Play to Earn</h6>
                                <h3>Phase 4</h3>
                                <p>Eget tellus tincidunt viverra. Vivamus nec aliquet<br /> turpis. In
                                    accumsan
                                    velit
                                    quis
                                    odio vestibulum,<br /> sit amet mattis nisl accumsan</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="phase-img-box  wow animate__fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="0.6s">
                                <img class="phase-art-img infiniteBounce" src="../../../assets/images/phase-4.png"
                                    alt="phase-4">

                                <div class="particle-wrap">
                                    <img src="../../../assets/images/particle-orange.png" class="infiniteZoomInOut"
                                        alt="particle">
                                    <img src="../../../assets/images/particle-white.png" class="infiniteZoomInOut"
                                        alt="particle">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
