<app-header></app-header>
<section class="banner" id="home">
    <div class="banner-wrapper">
        <div class="banner-content">
            <h5 class="wow animate__fadeInDown">A new wave of great collection </h5>
            <h2 class="section-title">
                <span class="wow animate__fadeIn" data-wow-duration="1s"
                    data-wow-delay="0.5s">DISCOVER</span><br />
                <span class="lined wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="1.2s"></span>
                <span>COLLECT</span><br />
                <span class="wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="2s">SELL.</span>
            </h2>
        </div>
        <img class="banner-3 infiniteBounce" src="../../../assets/images/banner-img-3.png" alt="banner-img" />
        <img class="wavy-partical wow animate__flipInX" data-wow-delay="0.4s" src="../../../assets/images/banner-wave.png"
            alt="banner-vector-shapes">

        <div class="banner-floating-images">
            <div class="banner-img-wrapper">
                <span></span>
                <span></span>
                <img class="particle-black infiniteZoomInOut" src="../../../assets/images/particle-black.png"
                    alt="floating-img" />
                <img class="particle-white infiniteZoomInOut" src="../../../assets/images/particle-white.png"
                    alt="floating-img" />
                <img class="particle-orange infiniteZoomInOut" src="../../../assets/images/particle-orange.png"
                    alt="floating-img" />
                <img class="banner-1 infiniteBounce" src="../../../assets/images/banner-img-1.png" alt="banner-img">
                <img class="banner-2 infiniteBounce" src="../../../assets/images/banner-img-2.png" alt="banner-img">
                <img class="banner-4 infiniteBounce" src="../../../assets/images/banner-img-4.png" alt="banner-img">
                <img class="banner-5 infiniteBounce" src="../../../assets/images/banner-img-5.png" alt="banner-img">
            </div>
        </div>
    </div>
</section>
<app-about-index></app-about-index>
<app-collection-list></app-collection-list>
<app-roadmap></app-roadmap>
<app-team></app-team>
<app-join-community></app-join-community>
<app-artist></app-artist>
<app-faq></app-faq>
<app-footer></app-footer>
